<ng-include src="'partials/navbar.html'"></ng-include>
</br>

<div class="container">
	<div class="row">
		<div class="col-xs-4 col-md-4 col-lg-4"></div>
		
		<div class="addForm col-xs-4 col-md-4 col-lg-4">
		  <h3> Add Photo...</h3>
		    <input class="form-control" type="text" placeholder= "Image URL" ng-model="AddPicCtrl.newPic.url" />
		    <input class="form-control" type="text" placeholder= "Trail Name" ng-model="AddPicCtrl.newPic.trail" />
		    </br>
				<a class="btn btn-success" role="button" ng-click="AddPicCtrl.addPic();">Add</a>
<!-- 				<button ng-click="$event.preventDefault(); reset(); form.$setPristine();">Reset</button>
 -->				
 		</br>
 		<button class="btn btn-warning" onclick="history.back()">Back</button>

		</div>

		
		<div class="col-xs-4 col-md-4 col-lg-4"></div>
				
	</div>
</div>









