<ng-include src="'partials/navbar.html'"></ng-include>
</br>
<section class="addForm col-xs-4">
  <p> Add Photo...</p>
    <input type="text" placeholder= "Image URL" ng-model="AddPicCtrl.newPic.url" />
    <input type="text" placeholder= "Trail Name" ng-model="AddPicCtrl.newPic.trail" />
  
  		<div class="col-xs-4"></div>
  			<div class="col-xs-4">
					<a class="btn btn-success" role="button" ng-click="AddPicCtrl.addPic()">Add</a>
				</div>
				<div class="col-xs-4"></div>
		</div>
</section>









