<ng-include src="'partials/navbar.html'"></ng-include>
</br>
<div class="container">
  <section class="addForm col-xs-4">
    <p> Add Hike...</p>
      <input type="text" placeholder="Trail Name" ng-model="AddHikeCtrl.newHike.trail" />
      <input type="text" placeholder= "Location (Gatlinburg, TN)" ng-model="AddHikeCtrl.newHike.location" />

      <input type="text" placeholder= "Park (Smoky Mountain National Park" ng-model="AddHikeCtrl.newHike.park" />

      <div>
        <span>Rating: </span> <input list="rating" ng-model="AddHikeCtrl.newHike.rating" />
          <datalist id="rating">
            <select name ="Rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </datalist>
      </div>

      <input type="text" placeholder= "Description" ng-model="AddHikeCtrl.newHike.description" />


      <div class="container">
        <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <a class="btn btn-success" role="button" ng-click="AddHikeCtrl.addHike()">Add</a>
            </br>
            <button class="btn btn-warning" onclick="history.back()">Back</button>

          </div>
          <div class="col-xs-4"></div>
      </div>
  </section>
</div>