
<ng-include src="'partials/navbar.html'"></ng-include>

<div class="singleImgDiv col-xs-2">
<h5>myTN Trail Friends</h5>
	<div ng-repeat="friend in FriendsCtrl.friends" ng-if="FriendsCtrl.determineFriend(friend.name)">


			<a href="#/profile/{{friend.id}}" ng-click="FriendsCtrl.gotoProfile(friend.uid)" class="thumbnail"> {{friend.name}}


	 			<img class= "smallThumbs" ng-src="{{user.profilepic}}"  alt="{{user.profilepic}}">
	 			
	 		</a>


	</div>

	</div>
	<button onclick="history.back()">Back</button>

</div>




