<!-- <ng-include src="'partials/navbar.html'"></ng-include>

<div class="singleImgDiv col-xs-2">
<h5>myTN Trail Friends</h5>
	<div ng-repeat="friend in FriendsCtrl.friends" ng-if="FriendsCtrl.determineFriend(friend.name)"> -->

<!-- this was commented out -->
		<!-- <p ng-click="FriendsCtrl.gotoProfile(friend.uid)">{{friend.name}}</p> -->
			
<!-- 			<a href="#/profile/{{user.uid}}" class="thumbnail"> {{friend.name}}
	 			<img class= "smallThumbs" ng-src="{{user.profilepic}}" ng-if= alt="...">

	 		</a> -->




			<!-- <a href="#/profile/{{friend.uid}}">{{friend.name}}</a>

 -->
<!-- this was commented out -->
		<!-- <p>{{friend.name}}</p> -->

<!-- 	</div>
	<button onclick="history.back()">Back</button>
	
</div> -->

<!-- ======================= -->
<ng-include src="'partials/navbar.html'"></ng-include>

<div class="singleImgDiv col-xs-2">
<h5>myTN Trail Friends</h5>
	<div ng-repeat="friend in FriendsCtrl.friends" ng-if="FriendsCtrl.determineFriend(friend.name)">

		<!-- <p ng-click="FriendsCtrl.gotoProfile(friend.uid)">{{friend.name}}</p> -->
			
			<a href="#/profile/{{user.uid}}" class="thumbnail"> {{friend.name}}
	 			<img class= "smallThumbs" ng-src="{{user.profilepic}}"  alt="...">

	 		</a>




			<!-- <a href="#/profile/{{friend.uid}}">{{friend.name}}</a>
 -->

		<!-- <p>{{friend.name}}</p> -->
	</div>
	<button onclick="history.back()">Back</button>
	
</div>


