<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/profile">myTn Trail</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#/profile">Profile <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#/myHikes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">myHikes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/addhike">Add a Hike</a></li>
            <li><a href="#/myhikegallery">myHike Photo Gallery</a></li>
            <li><a href="#/wishlist">myHike Wishlist</a></li>
          </ul>
          <li><a href="#/friends">Friends</a></li>
          <li><a href="#/allUsers">All Users</a></li>

        <li ng-click="logOut()"><a>Logout</a></li>

        </li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>