<ng-include src="'partials/navbar.html'"></ng-include>

<div class="jumbotron">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-4">
  			<div class="col-sm-4">
					<h1>Welcome Back!</h1>
					<!-- <img src="../images/images.jpeg" alt="profilePic"> -->
<!-- 							<div class="col-sm-8">
 -->				<div class="row" ng-repeat="user in ProfileCtrl.profileInfo">
				  		<div class="col-sm-6 col-md-4">
				    		<a href="{{user.profilepic}}" class="thumbnail">
				    		
				      		<img class= "smallThumbs" ng-src="{{user.profilepic}}" alt="...">
				    		</a>
		    			</div>
	  				</div>
	  					<!-- </div>	 -->


					<div ng-repeat="user in ProfileCtrl.profileInfo">
			    	<p> {{user.name}} </p>
  				</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<ul class="list-group">
			  <a href="#/myHikes" class="list-group-item">myHikes</a>
			  <a href="#/addHike" class="list-group-item">Add a Hike</a>
			  <a href="#/wishlist" class="list-group-item">Hike Wishlist</a>
			  <a href="#/myGallery" class="list-group-item">myHikes Photo Gallery</a>
			  <a href="#/addPic" class="list-group-item">Add Pic to Gallery</a>
			  <a href="#/friends" class="list-group-item">Friends</a>
			  <a href="#/allUsers" class="list-group-item">View All Users</a>
			</ul>
		</div>

<!-- PHOTO GALLERY -->	


		<div class="col-sm-8">
			<div>myHike Photo Gallery</div>
				<div class="row" ng-repeat="photo in ProfileCtrl.photos">
				  <div class="col-xs-3 col-md-3">
				    <a href="{{photo.url}}" class="thumbnail">
				      <img class= "smallThumbs" ng-src="{{photo.url}}" alt="...">
				    </a>
		    	</div>
	  		</div>
	  </div>	
			    <div> View All </div>
	</div>
</div>
