<ng-include src="'partials/navbar.html'"></ng-include>

<div class="jumbotron">
  <div class="container">
		<h1>Hello you cruel world</h1>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<ul class="list-group">
			  <a href="#/myHikes" class="list-group-item">myHikes</a>
			  <a href="#/addHike" class="list-group-item">Add a Hike</a>
			  <a href="#/wishlist" class="list-group-item">Hike Wishlist</a>
			  <a href="#/myGallery" class="list-group-item">myHikes Photo Gallery</a>
			  <a href="#/addPic" class="list-group-item">Add Pic to Gallery</a>
			  <a href="#/friends" class="list-group-item">Friends</a>
			  <a href="#/allUsers" class="list-group-item">View All Users</a>
			</ul>
		</div>

<!-- PHOTO GALLERY -->	


		<div class="col-sm-8">
			<div>myHike Photo Gallery</div>
				<div class="row" ng-repeat="photo in ProfileCtrl.photos">
			  <div class="col-xs-3 col-md-3">
			    <a href="{{photo.url}}" class="thumbnail">
			      <img class= "smallThumbs" ng-src="{{photo.url}}" alt="...">
			    </a>
	    	</div>
  		</div>
	  </div>	
			    <div> View All </div>
	</div>
</div>
