<ng-include src="'partials/navbar.html'"></ng-include>
</br>

<div class="container">
	</br>
	<div class= "wishlistContainer">
		<div class="row">
			</br>
				<div class="col-md-12 searchWishlist">myWishlist</div>	
				<div class="col-md-12">
					<input class="search" type="text" placeholder="Search your wishlist..." ng-model="searchText">
				</div>
		</div>
	</div>

	<div class="singleWishlistDiv" ng-repeat="wishlist in WishlistCtrl.wishlist | filter:searchText">
		<div class="singleHike">
			<h3>{{wishlist.trail}}</h3>
			<h5>{{wishlist.location}}</h5>
			<h5>{{wishlist.park}}</h5>

			<p>{{wishlist.description}}</p>
			<p>Rating: {{wishlist.rating}}</p>
		</div>
		<button class="btn btn-danger" ng-click="WishlistCtrl.removeHike(wishlist.$id)">Remove </button>
	</div>
	</br>
	<button class="btn btn-warning" onclick="history.back()">Back</button>

</div>