$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 110% $font-stack;
  color: $primary-color;
  font-size: 120%;
}

/*.profileThumb {
	display: inline;
}*/

// login page 
.descriptionArea {
	padding-top: 95px;
}


.titleBar {
	padding-top: 60px;
}

.glypDesc {
	padding: 10px;
}

.loginArea {
	background-color: silver;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	padding-bottom: 60px;
}

.loginAreaInputs {
	margin-left: 6em;
}

.welcomeLoginHeading {
	margin-left: 4em;
}

.loginInput {
	padding: 5px;
}

.loginButtonDiv {
	margin-left: 2em;
}

.fullContain {
	border-bottom: 5px solid #ff9900;
}

.landingPageImage {
	padding-top: 45px;
}


// =====NAVBAR======
.navbar {
	border-style: solid;
	border-bottom: 3px solid #ff9900;
}



// for tn 3 star brand - NAVBAR
.brand {
	max-height: 25px;
	max-width: 25px;
	margin-top: 10px;
}

// for logged in users profile

.jumbotron {
	background-image: url("http://www.greatsmokies.com/images/hiking-feet-fall-1240.jpg");
	background-repeat: no-repeat;
	color: white;
	background-position: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-bottom: 3px solid #ff9900;
}

// padding around profile pic
.bufferStyle{
	padding:5px;
	background: #dbdbdb;
}


.profilePic {
	max-height: 300px;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.profileName {
	margin-right: auto;
	margin-left: 2em;
	font-size: 120%;
}

.smallThumbs {
	display: inline;
	max-height: 100px;
	max-width: 100px;
}

.thumbnail {
	max-height: 300px;
	max-width: 300px;
	margin-bottom: 1px;
	margin-top: 30px;
}

.otherUserProfilePic {
	max-width: 300px;
	max-height: 300px;
	margin-right: 2em;
	margin-left: 2em;
}

.otherUserProfileName {
	margin-right: auto;
	margin-left: auto;
}

// ALL USERS PAGE
.allUsersSec {
	margin-top: 35px;
}

// for add pic and add hikes
.addForm {
	padding-top: 40px;
}


// logged in users hikes on myHikes

.searchHikes {
	margin-top: 35px;
}


.singleHike {
	display: inline;
}

// Friends page
.usersFriend {
	display: inline;
	margin-top: 20px;
	margin-bottom:50px;
}

// .addFriendBtn {
// 	margin-right: 50px;
// 	margin-left: auto;
// }

// for gallery
.hikeThumb {
	margin-top: 30px;
}






